@import '../../style/themes/index';
@import '../../style/mixins/index';

@form-base-prefix-cls: ~'@{ant-prefix}-form';
@form-prefix-cls: ~'@{form-base-prefix-cls}-pro';

.@{form-prefix-cls} {
  & .@{ant-prefix}-row {
    width: 100%;
  }

  &-inline {
    & .@{form-base-prefix-cls}-item-label {
      flex: auto !important;
    }
    & .@{ant-prefix}-input-number,
    & .@{ant-prefix}-picker,
    & .@{ant-prefix}-picker-range-box,
    & .@{ant-prefix}-input-textarea {
      width: 100%;
    }

    & .@{ant-prefix}-picker-range-more {
      width: auto;
    }
  }

  & .@{form-prefix-cls}-footer-affix .ant-affix {
    background: @component-background;
    box-shadow: 0 -1px 4px 0 rgba(0, 21, 41, 0.12);
  }

  &-space {
    background: @component-background;
  }

  & .@{form-prefix-cls}-nav {
    &-affix .ant-affix {
      background: @component-background;
      box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    }
    display: flex;

    padding: 0 8px;
    background: @component-background;
    border: 1px solid @border-color-split;

    &-item {
      margin: 0 16px;
      padding-top: 2px;
      line-height: 44px;
      border-bottom: 2px solid @border-color-split;
      cursor: pointer;

      &-active {
        border-bottom-color: @primary-6;
      }
    }
  }

  &-card-first {
    margin-top: 16px;
  }

  &-card {
    margin-bottom: 24px;
  }

  & .ant-card-body {
    & .ant-col:last-child .ant-form-item {
      margin-bottom: 0;
    }
  }

  & .pcr-app .pcr-interaction input {
    line-height: 18px;
  }

  & .pcr-app[data-theme='monolith'] .pcr-selection .pcr-color-palette {
    height: 4em;
  }

  &-help {
    margin-right: 8px;
  }

  &-suffix {
    display: inline-block;
    padding-left: 6px;
    color: @text-color;
  }

  & .@{form-base-prefix-cls}-item-control-wrapper {
    width: 100%;

    .ant-calendar-picker:not(.ant-calendar-range-picker-group) {
      width: 100%;
    }
  }

  // NOTE [fix] 横着的时候上下对不齐
  & .ant-affix {
    height: auto !important;
    .@{form-prefix-cls}-item-action {
      padding: 16px;
    }
  }

  .@{form-prefix-cls}-item {
    margin-bottom: 20px !important;

    &-action {
      &-expend {
        display: inline-block;
        vertical-align: middle;
        margin-top: -1px;
        margin-left: 12px;
        font-size: 0;
        cursor: pointer;

        &-text {
          display: inline-block;
          vertical-align: middle;
          height: 32px;
          line-height: 32px;
          font-size: 14px;
          color: @link-color;
        }

        &:hover,
        &:focus {
          & .@{form-prefix-cls}-item-action-expend-text {
            color: @link-hover-color;
          }
        }

        &:active {
          & .@{form-prefix-cls}-item-action-expend-text {
            color: @link-active-color;
          }
        }
      }
    }

    &-label label::after {
      margin: 0 6px 0 2px;
    }

    &-with-help {
      margin-bottom: 0;
    }

    &-suffix {
      & .@{form-base-prefix-cls}-item-children {
        display: flex;
        align-items: center;
      }
    }

    &-diy {
      & .@{form-base-prefix-cls}-item-control {
        line-height: inherit;
      }
      & .@{form-base-prefix-cls}-item-children {
        display: flex;
        align-items: center;
        height: 40px;
      }

      & .@{ant-prefix}-tag-group-create,
      & .@{ant-prefix}-tag-group-create-input,
      & .@{ant-prefix}-tag-group-create-input-only {
        margin: 0;
      }

      & .pcr-app[data-theme='monolith'] {
        box-sizing: border-box;
      }
    }

    &-special {
      & .@{form-base-prefix-cls}-item-children {
        height: 32px;
        margin-bottom: 8px;
      }
    }

    &-smscode {
      & .@{form-base-prefix-cls}-item-children {
        display: block;
        height: auto;
        line-height: 40px;

        & .@{ant-prefix}-input-smscode {
          padding-top: 4px;
        }
      }
    }

    &-inline {
      margin-bottom: 0;
    }
  }

  .@{form-prefix-cls}-explain {
    font-size: 14px;
  }
}
