@import '../../style/themes/index';
@import '../../style/mixins/index';

@collapse-prefix-cls: ~'@{ant-prefix}-container-collapse';
@title-prefix-cls: ~'@{ant-prefix}-basic-title';

.@{collapse-prefix-cls} {
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;

  &-header {
    display: flex;
    height: 32px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &-only {
      cursor: default;

      & .@{title-prefix-cls} {
        cursor: default;
      }
    }
  }

  &-action {
    display: flex;
    text-align: right;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
  }
}
